@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282c35;
  --foreground: #ffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html,
body,
:root {
    height: 100%;
    color: var(--foreground);
    background: var(--background);
}


/* body {
  color: var(--foreground);
  background: var(--background);

} */
